<html>
<head>
   <script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
   <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<style type = "text/css">
	      .centerdiv
	      {
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		text-align: center;
	       }
	       .login{
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		}
		.property		
		{
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		text-align: center;
		}
		</style>
		<nav class = "navbar navbar-default navbar-fixed-top" role ="navigation">
		  <ul class = "nav navbar-nav">
		    {% if user != None %}
		    <a class ="navbar-brand" href="#">{{user.username}}</a>
		    <li><a href="#" data-toggle="modal" data-target="#addproperty">Add Property</a></li>	
			<li><a href="/">Logout</a></li>
		     {% endif %} 
		     
		</nav>
				
		<div class = "page-header centerdiv">
		   <h1>Property List</h1>
		</div>
		
		<div class = "property well">
		{% csrf_token %}
		    {% for property in propertys %}
			{% if property.author =  user %}
			<div>
			 <div class = "page-header">
			    <h3>{{property.name}}</h3>
			    <small>{{property.author}}</small>
			 </div>
			   {{property.description}}
				<div>{{property.price }}</div>
				
			    <a  href="/editproperty/?propid={{property.id}}" id = "{{property.name}}"  >Edit Property</a>
				<a  href="/deleteproperty/?propid={{property.name}}" id = "{{property.name}}"  >Delete Property</a>
				  
	

			</div>
			{% endif %}
			{% endfor %}
		
        </div>
		
		
		<div class = "modal fade" id = "addproperty">
		   <div class = "modal-dialog">
		      <div class = "modal-content">
			    <form action = "/addproperty/" method = "post">
				    {% csrf_token %}
					<div class ="mod-body-login">
					   <b>Name</b>
					      <input class = "form-control" name="name"/>
						  <b>Property Description</b>
						  <input class = "form-control" name = "description" >
							<b>Price</b>
							<input class = "form control" name="price">
					</div>
					<div class = "modal-footer">
					    <input type = "submit" class "btn btn-success pull-left" value = "Add Property"/>
					</form>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
					
				</div>
				</div>
			</div>
        </div>
		
		
</body>
</html>